/* Testimonials.css */
.testimonials-section {
  padding: 60px 20px;
  background-color: #F8F8F8; /* Soft background color */
  text-align: center;
  margin-top: 30px;
}

.testimonials-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.testimonial-item {
  background-color: #FFFFFF;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 350px;
  height: auto;
  transition: transform 0.3s, box-shadow 0.3s;
}

.testimonial-item h3 {
  font-size: 1.6rem;
  color: rgb(68, 67, 67); /* Darker grey for headings */
}

.testimonial-item p {
  font-size: 1.1rem;
  color: #555555; /* Dark gray for content */
  line-height: 1.5;
  margin-bottom: 10px;
}

.testimonial-item:hover {
  transform: translateY(-5px); /* Slight lift effect on hover */
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}
